/********* Header **********/
#logo {
  max-width: 300px;
 height: auto;
 margin: 0 auto 10px;
  }

/********* End Header **********/

/********* Body **********/
h1, h3 {
  font-family: 'Kalam', cursive;
  color: #44aa00;
  margin: 20px auto 20px;
  font-weight: 500;
}

#thank-you{
  font-weight: bold;
}

p {
  margin: 10px auto 20px;
}

/********* Carousel **********/
.carousel-inner{
  width: auto;
  height: 250px;
  }

  .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2344aa00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2344aa00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/********* End Carousel **********/


/********* End Body **********/
